#sidebar {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
}

#neville {
  background-color: #121212;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  margin-bottom: 10%;
  height: 60px;
  width: 100px;
  font-size: 20px;
}

#neville:hover {
  background-color: #ff2238;
  color: #121212;
}

#description {
  padding-top: 20%;
  background-color: #292929;
  height: 810px;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;
}

#devdev {
  padding-top: 20%;
  background-color: #292929;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: none;
}

#description2 {
  padding-top: 0px;
  background-color: #f1f1f1;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;  
  padding-bottom: 4%;
}

#description3 {
  padding-top: 6%;
  background-image: url("../img/white3.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;    
}

#description4 {
  padding-top: 0px;
  /*background-color: #292929;*/
  background-image: url("../img/contact.jpeg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;   
}

#nevilleo {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#welcome {
  font-family: 'Montserrat', sans-serif;
  display: none;
}

#items1 {
  padding-top: 0px;
  padding-right: 3%;
}

#items2 {
  padding-left: 5%;
  padding-right: 5%;
}

#items3 {
  padding-left: 5%;
  padding-right: 5%;  
}

#i {
  font-weight: ;
  font-size: 16px;
  font-family: 'Inconsolata', serif;
}

#backend {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#i2 {
  font-size: 16px;
  font-family: 'Inconsolata', serif;
}

#devstack {
  display: none;
  padding-top: 21%;
  padding-left: 12%;
  background-image: url("../img/phonennew.jpg");
  background-repeat: none;
  background-size: cover;
  height: 810px;
}

#fullstack {
  background-color: transparent;
  color:  #121212;
  border-color:  #121212;
  border-style: solid;
  border-radius: 0px;
  border-width: 4px;
  font-size: 23px;
  height: 80px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: none;
  margin-left: -25spx;
  margin-right: 0px;
}

#fullstack2 {
  background-color: transparent;
  color:  #121212;
  border-color:  #121212;
  border-style: solid;
  border-radius: 0px;
  border-width: 4px;
  font-size: 23px;
  height: 80px;
  width: 200px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: none;  
}

#fullstack2:hover {
  background-color: #fff;
}


#fullstack:hover {
  background-color: #fff;
}

#copyright {
  float: right;
  margin-top: 65%;
  margin-right: 4%;
}

#portrow {
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#portrow2 {
  margin-top: 50px;
}

#portrow3 {
  margin-top: 170px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #292929;  
}

#iconsocial {
  background-color: #292929;
  height: 931.2px;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#iconsocial2 {
  background-color: #fff;
  height: auto;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#iconsocial6 {
 background-color: #292929;
  height: 118.9vh;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#doubledown {

}

#mddd {
  margin-bottom: 56px;
}

#socialheight {
  height: ;
  margin-top: 35%;
  padding-left: 10%;
}

#main {
  border-radius: 0px;
  color: #fff;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ff2238;
  margin-bottom: 10px;
  width: 150px;
  font-size: 19px;
  display: none;
}

#profpic {
  margin-left: 34%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.social {
  padding-right: 4%;
}

.down {
  color: #ff2238;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20%;
}

.contactme {
  width: 240px;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-radius: 0px;
  border-bottom-color: #ff2238;
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
  display: none;
  padding-left: 0px;
}

.contactme:hover {
  color: #fff;
}

#contmargin {
  margin-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

.contactp {
  color: #fff;
  font-size: 20px;
  font-family: 'Inconsolata', serif;
  display: none;
}

.languages {
  color: #fff;
  margin-left: 0px;
  display: none;
}

.languages:hover {
  color: #ff2238;
}

.fa-github {
  font-size: 28px;
}

.font {
  font-size: 28px;
  color:  #121212;
  font-family: 'Inconsolata', serif;
}

.inside {
  padding: 0px;
  margin-right: -90px;
  margin-left: 30px;
}

.style {
  position: relative;
  display: inline;
  width: ;
}

.style:hover, .overlay:hover {
  opacity: 1;
}

.text {
  color: #ff2238;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.text2 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 32%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text3 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text4 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 47%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text5 {
  color: #ff2238;
  font-size: 15px;
  position: absolute;
  top: 59%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: -101px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 220px;
  width: 430px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
  border-style: solid;
  border-width: 6px;
  border-color: #121212;
}

.port {
  padding-left: 8%;
  padding-right: 0%;
  margin-bottom: 30px;
  height: auto;

}

.portfolioimg {
  display: inline;
  margin-right: 3%;
  border-right-style: solid;
  border-right-width: 30px;
  border-right-color: #fff;
  border-left-style: solid;
  border-left-width: 30px;
  border-left-color: #fff;
  height: 220px;
  width: 430px;
}

.portfolioimg2 {
  display: inline;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 0%;
  border-style: solid;
  border-width: 11px;
  border-color:  #ff2238;
  height: 320px;
  width: 630px;
}

#projectheading {
  margin-top: 3%;
  margin-left: 10%; 
  margin-bottom: 0%;
  color: #292929;
  font-size: ; 
}

.projectheading2 {
  margin-top: 3%;
  margin-left: 10%; 
  margin-bottom: 0%;
  color: #292929;
  font-size: ; 
}

#details {
  margin-top: 0%;
  margin-left: 10%;
  width: 150px;
  height: ;
  color: transparent;
  background-color: #ff2238;
  border-style: none;
  border-radius: 0px;
}

.details2 {
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 0%;
  width: 100px;
  height: ;
  color: transparent;
  background-color: #ff2238;
  border-style: none;
  border-radius: 0px;
}

.details3 {
  margin-top: 0%;
  margin-left: 10%;
  width: 150px;
  height: ;
  color: #ff2238;
  background-color: #fff;
  border-style: solid;
  border-width: 4px; 
  border-color: #ff2238;
  border-radius: 0px;  
}

.details3:hover {
  background-color: #ff2238;
  color: #fff;  
}

.projectdes {
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 3%;
  color: #999;  
}

.glyphicon-cutlery {
  font-size: 34px;
  color: #121212;
}



.social{
  background-color: #121212;
  height: 50px;
  width: 50px;
  border-radius: ;
  display: inline-block;
  font-size: 18px;
  padding-top: 5%;
  padding-left: 6.5%;
  margin-left: 2%;
  border-radius: 50%;
}

.social-background {
  background-color: #fff;
}

.glpyf {
  background-color:  #121212  
}

.social2 {
  background-color:  #121212;
  height: 50px;
  width: 50px;
  border-radius: ;
  display: inline-block;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 16px;
  margin-left: 13px;
  margin-bottom: 10px;
  border-radius: 50%;  
}

.social3 {

}

.social2:hover {
  
}

.socialmedia {
  margin-top: 60%;
  width: 300px;
  height: 68px;
  float: left;
  padding-left: 14%;
  margin-bottom: 0px;
}

.fa-twitter {
  font-size: 18px;
  color: #fff; 
}

#fa-twitter {
  font-size: 18px;
  color: #121212;  
}

.fa-google {
  font-size: 18px;
  color: #fff;  
}

#fa-google {
  font-size: 18px;
  color: #121212;  
}

.fa-linkedin {
  font-size: 18px;
  color: #fff;
}

#fa-linkedin {
  font-size: 18px;
  color: #121212;  
}

.glyphicon-tasks {
  color: #fff;
  margin-left: 45%;
  font-size: 44px;
}

.glyphicon-phone {
  color: #fff;
  margin-left: 45%;
  font-size: 59px;  
}

.black2 {
  border-radius: 0px;
  display: inline;
  margin-right: 2%;
}

.black {
  color: #121212;
  text-decoration: none;
  display: none;
}

.black:hover {
  color: #ff2238;
  text-decoration: none;
}

.white {
  color: #fff;
  display: none;
}

.red {
  color: #ff2238;
}

.red2 {
  color: #A9A9A9;
  font-size: 20px;
  font-family: 'Inconsolata', serif;
  display: none;
}

.white2 {
  color: #A9A9A9;
  display: none;
   font-family: 'Inconsolata', serif;
}

.white2:hover {
  color: #fff;
}

.downer {
  margin-bottom: 5%;
}
