#sidebar {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
}

#neville {
  background-color: #121212;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  margin-bottom: 10%;
  height: 60px;
  width: 60px;
  font-size: 20px;
}

#neville:hover {
  background-color: #ff2238;
  color: #121212;
}

#description {
  padding-top: 20%;
  background-color: #292929;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;
}

#nevilleo {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#welcome {
  font-family: 'Montserrat', sans-serif;
  display: none;
}

#items1 {
  padding-left: ;
  padding-right: 3%;
}

#items2 {
  padding-left: 5%;
  padding-right: 5%;
}

#items3 {
  padding-left: 5%;
  padding-right: 5%;  
}

#i {
  font-weight: ;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#backend {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#i2 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#devstack {
  display: none;
  padding-top: 21%;
  padding-left: 12%;
  background-image: url("../img/phonennew.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
}

#fullstack {
  background-color: transparent;
  color:  #121212;
  border-color:  #121212;
  border-style: solid;
  border-radius: 0px;
  border-width: 4px;
  font-size: 23px;
  height: 80px;
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: none;
}

#fullstack:hover {
  background-color: #fff;
}

#copyright {
  float: right;
  margin-top: 60%;
  margin-right: 4%;
}

.social{
  background-color: #121212;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  display: inline-block;
}

.socialmedia {
  display: inline-block;
  margin-top: 40%;
  width: 100px;
  height: 100px;
}

.fa-twitter {

}

.glyphicon-tasks {
  color: #fff;
  margin-left: 45%;
  font-size: 44px;
}

.glyphicon-phone {
  color: #fff;
  margin-left: 45%;
  font-size: 59px;  
}

.black {
  color: #121212;
  text-decoration: none;
  display: none;
}

.black:hover {
  color: #ff2238;
  text-decoration: none;
}

.white {
  color: #fff;
  display: none
}

.red {
  color: #ff2238;
}



