#sidebar {
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
  display: none;
}

#neville {
  background-color: #121212;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  margin-bottom: 10%;
  height: 60px;
  width: 100px;
  font-size: 20px;
}

#neville:hover {
  background-color: #ff2238;
  color: #121212;
}

#description {
  padding-top: 20%;
  background-color: #292929;
  height: 810px;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;
}

#devdev {
  padding-top: 20%;
  background-color: #292929;
  height: 810px;
  font-family: 'Montserrat', sans-serif;
  display: none;
}

#description2 {
  padding-top: 0px;
  background-color: #f1f1f1;
  height: 1860.2px;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;  
  padding-bottom: 4%;
}

#description3 {
  padding-top: 6%;
  background-image: url("../img/white3.jpg");
  background-repeat: none;
  background-size: cover;
  height: 810px;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;    
}

#description4 {
  padding-top: 0px;
  /*background-color: #292929;*/
  background-image: url("../img/contact.jpeg");
  background-repeat: none;
  background-size: cover;
  height: 1200px;
  font-family: 'Montserrat', sans-serif;
  border-right-style: solid;
  border-right-color: #ff2238;
  border-right-width: 7px;
  display: none;   
}

#nevilleo {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #E6E6E6;
}

#welcome {
  font-family: 'Montserrat', sans-serif;
  display: none;
}

#items1 {
  padding-top: 0px;
  padding-right: 3%;
  padding-left: 3%;
}

#items2 {
  padding-left: 5%;
  padding-right: 5%;
}

#items3 {
  padding-left: 5%;
  padding-right: 5%;  
}

#i {
  font-weight: ;
  font-size: 16px;
  font-family: 'Inconsolata', serif;
}

#backend {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#i2 {
  font-size: 16px;
  font-family: 'Inconsolata', serif;
}

#devstack {
  display: none;
  padding-top: 21%;
  padding-left: 12%;
  background-image: url("../img/phonennew.jpg");
  background-repeat: none;
  background-size: cover;
  height: 810px;
}

#fullstack {
  background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 22px;
    height: 80px;
    width: 330px;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 39px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
}

#fullstack2 {
  background-color: #E6E6E6;
  color: #121212;
  /* border-color: #121212; */
  border-style: solid;
  border-radius: 8px;
  border-width: 4px;
  font-size: 23px;
  height: 80px;
  width: 200px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  display: none;
  box-shadow: 0 25px 17px 0 #888888;
}

#fullstack2:hover {
  cursor: none;
}


/*#fullstack:hover {
  background-color: #fff;
}*/

#copyright {
  float: right;
  margin-top: 65%;
  margin-right: 4%;
}

#portrow {
  margin-top: 70px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#portrow2 {
  margin-top: 50px;
}

#portrow3 {
  margin-top: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: transparent;  
}

#iconsocial {
  background-color: #292929;
  height: 1860.2px;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#iconsocial2 {
  background-color: #fff;
  height: auto;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#iconsocial6 {
  background-color: #292929;
  height: 1860.2px;
  padding-top: 20.9%;
  padding-left: 2%;
  display: none;
}

#doubledown {

}

#mddd {
  margin-bottom: 56px;
}

#socialheight {
  margin-top: 5%;
  padding-left: 18%;
  margin-left: 1%;
}

#main {
  border-radius: 0px;
  color: #fff;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ff2238;
  margin-bottom: 10px;
  width: 150px;
  font-size: 19px;
  display: none;
}

#profpic {
  margin-left: 34%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.social {
  padding-right: 4%;
}

.down {
  color: #ff2238;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20%;
}

.contactme {
  width: 240px;
  background-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-radius: 0px;
  border-bottom-color: #ff2238;
  color: #fff;
  font-size: 32px;
  margin-bottom: 10px;
  display: none;
  padding-left: 0px;
}

.contactme:hover {
  color: #fff;
}

#contmargin {
  margin-bottom: 50px;
}

a:hover {
  text-decoration: none;
}

.contactp {
  color: #fff;
  font-size: 20px;
  font-family: 'Inconsolata', serif;
  display: none;
}

.languages {
  color:  #fff;
  margin-left: 0px;
  display: none;
}

/*.languages:hover {
  color: #ff2238;
}*/

.fa-github {
  font-size: 28px;
}

.font {
  font-size: 25px;
  color:  #121212;
  font-family: 'Inconsolata', serif;
}

.inside {
  padding: 0px;
  margin-right: -90px;
  margin-left: 30px;
}

.style {
  position: relative;
  display: inline;
  width: ;
}

.style:hover, .overlay:hover {
  opacity: 1;
}

.text {
  color: #ff2238;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  position: absolute;
  top: 20%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.text2 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 32%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text3 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text4 {
  color:  #121212;
  font-size: 15px;
  position: absolute;
  top: 47%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text5 {
  color: #ff2238;
  font-size: 15px;
  position: absolute;
  top: 59%;
  left: 35%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: -101px;
  bottom: 0;
  left: 30px;
  right: 0;
  height: 220px;
  width: 372px;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
  border-style: solid;
  border-width: 6px;
  border-color: #121212;
}

.port {
  padding-left: 8%;
  padding-right: 0%;
  margin-bottom: 30px;
  height: auto;

}

.portfolioimg {
  display: inline;
  margin-right: 3%;
  border-right-style: solid;
  border-right-width: 30px;
  border-right-color: #fff;
  border-left-style: solid;
  border-left-width: 30px;
  border-left-color: #fff;
  height: 220px;
  width: 430px;
  box-shadow: 0 25px 17px 0 #888888;
}

.portfolioimg2 {
  display: inline;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 0%;
  border-style: solid;
  border-width: 11px;
  border-color:  #ff2238;
  height: 320px;
  width: 630px;
}

#projectheading {
  margin-top: 3%;
  margin-left: 10%; 
  margin-bottom: 0%;
  color: #292929;
  font-size: ; 
}

.projectheading2 {
  margin-top: 3%;
  margin-left: 10%; 
  margin-bottom: 0%;
  color: #292929;
  font-size: ; 
}

#details {
  margin-top: 0%;
  margin-left: 10%;
  width: 150px;
  height: ;
  color: transparent;
  background-color: #ff2238;
  border-style: none;
  border-radius: 0px;
}

.details2 {
  margin-top: 0%;
  margin-left: 10%;
  margin-bottom: 0%;
  width: 100px;
  height: ;
  color: transparent;
  background-color: #ff2238;
  border-style: none;
  border-radius: 0px;
}

.details3 {
  margin-top: 0%;
  margin-left: 10%;
  width: auto;
  color: #ff2238;
  background-color: #fff;
  border-style: solid;
  border-width: 4px; 
  border-color: #ff2238;
  border-radius: 0px;  
}

.details3:hover {
  background-color: #ff2238;
  color: #fff;  
}

.projectdes {
  margin-top: 2%;
  margin-left: 10%;
  margin-bottom: 3%;
  color: #999;  
}

.glyphicon-cutlery {
  font-size: 34px;
  color: #121212;
}

.social {
  background-color: #121212;
  height: 50px;
  width: 50px;
  border-radius: ;
  display: inline-block;
  font-size: 18px;
  padding-top: 7%;
  padding-left: 9.5%;
  margin-left: 2%;
  border-radius: 50%;
  box-shadow: 0 15px 17px 0 #888888;
}

.social-background {
  background-color: #fff;
}

.glpyf {
  background-color:  #121212  
}

.social2 {
  background-color:  #121212;
  height: 50px;
  width: 50px;
  border-radius: ;
  display: inline-block;
  font-size: 18px;
  padding-top: 13px;
  padding-left: 17px;
  margin-left: 9px;
  margin-bottom: 10px;
  border-radius: 50%;  
}

.social3 {

}

.social2:hover {
  
}

#gmail {
  color: #fff;
}

.socialmedia {
  margin-top: 60%;
  width: 300px;
  height: 68px;
  float: left;
  padding-left: 14%;
  margin-bottom: 0px;
}

.fa-twitter {
  font-size: 18px;
  color: #fff; 
}

#fa-twitter {
  font-size: 18px;
  color: #121212;  
}

.fa-github {
  font-size: 18px;
  color: #fff;
}

.fa-google {
  font-size: 18px;
  color: #fff;  
}

.glyphicon-envelope {
  font-size: 18px;
  color: #fff;  
}

#fa-google {
  font-size: 18px;
  color: #121212;  
}

.fa-linkedin {
  font-size: 18px;
  color: #fff;
}

#fa-linkedin {
  font-size: 18px;
  color: #121212;  
}

.glyphicon-tasks {
  color: #fff;
  margin-left: 45%;
  font-size: 44px;
}

.glyphicon-phone {
  color: #fff;
  margin-left: 45%;
  font-size: 59px;  
}

.black2 {
  border-radius: 0px;
  display: inline;
  margin-right: 2%;
}

.black {
  color: #121212;
  text-decoration: none;
  display: none;
}

.black:hover {
  color: #ff2238;
  text-decoration: none;
}

.white {
  color: #fff;
  display: none;
}

.red {
  color: #ff2238;
}

.red2 {
  color: #A9A9A9;
  font-size: 20px;
  font-family: 'Inconsolata', serif;
  display: none;
}

.white2 {
  color: #A9A9A9;
  display: none;
  font-family: 'Inconsolata', serif;
  margin-left: 4%;
}

.white2:hover {
  color: #fff;
}

.downer {
  margin-bottom: 5%;
}

#javascript {
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 10%;
}

#python {
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 10%;
}

@media only screen and (max-width: 340px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 10%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 75%;
    margin-left: 12%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 18%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 32%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 32%;
    margin-top: 10%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 14.9%;
    padding-left: 0%;
    display: none;
    padding-right: 16%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 15%;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 374px;
  }

  #main {
    margin-left: 12%;
  }

  .details3 {
    margin-top: 7%;
  }
  
  #projectheading {
    margin-top: 14%;
    margin-left: 10%; 
    margin-bottom: 0%;
    color: #292929;
    font-size: ; 
  }
  
  .portfolioimg2 {
    display: inline;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    border-style: solid;
    border-width: 11px;
    border-color:  #ff2238;
    height: 263px;
    width: 630px;
  }
  
  #iconsocial6 {
    background-color: #292929;
    height: 145.2px;
    padding-top: 14.9%;
    padding-left: 0%;
    display: none;
  }

  #doubledown {
    padding-left: 16%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -84px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 169px;
    width: 272px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 273px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -9%;
  }

  .social {
    padding-top: 6%;
    padding-left: 7.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 239px;
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 6px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 341px) and (max-width: 360px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 16%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 75%;
    margin-left: 10%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 18%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 34%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 34%;
    margin-top: 10%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 9.9%;
    padding-left: 0%;
    display: none;
    padding-right: 13%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 17%;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 374px;
  }

  #main {
    margin-left: 12%;
  }

  .details3 {
    margin-top: 7%;
  }
  
  #projectheading {
    margin-top: 14%;
    margin-left: 10%; 
    margin-bottom: 0%;
    color: #292929;
    font-size: ; 
  }
  
  .portfolioimg2 {
    display: inline;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    border-style: solid;
    border-width: 11px;
    border-color:  #ff2238;
    height: 263px;
    width: 630px;
  }
  
  #iconsocial6 {
    background-color: #292929;
    height: 145.2px;
    padding-top: 14.9%;
    padding-left: 0%;
    display: none;
  }

  #doubledown {
    padding-left: 16%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -84px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 169px;
    width: 291px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 293px;
    margin-bottom: 6%;
  }


  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -3%;
  }

  .social {
    padding-top: 6%;
    padding-left: 7.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 239px;
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 28px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 361px) and (max-width: 374px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 17%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    margin-left: 0%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 18%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 34%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 34%;
    margin-top: 10%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 9.9%;
    padding-left: 0%;
    display: none;
    padding-right: 13%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 17%;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 374px;
  }

  #main {
    margin-left: 12%;
  }

  .details3 {
    margin-top: 7%;
  }
  
  #projectheading {
    margin-top: 14%;
    margin-left: 10%; 
    margin-bottom: 0%;
    color: #292929;
    font-size: ; 
  }
  
  .portfolioimg2 {
    display: inline;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    border-style: solid;
    border-width: 11px;
    border-color:  #ff2238;
    height: 263px;
    width: 630px;
  }
  
  #iconsocial6 {
    background-color: #292929;
    height: 145.2px;
    padding-top: 14.9%;
    padding-left: 2%;
    display: none;
  }

  #doubledown {
    padding-left: 16%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -84px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 169px;
    width: 291px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 292px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -4%;
  }

  .social {
    padding-top: 6%;
    padding-left: 7.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 239px;
    padding-top: 25px;
    padding-left: 12px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 29px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 19%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 65%;
    margin-left: 12%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 18%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #fullstack2 {
    margin-left: 5%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 11%;
  }

  #python {
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 16%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 9.9%;
    padding-left: 0%;
    display: none;
    padding-right: 12%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 17%;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 434px;
  }

  #main {
    margin-left: 12%;
  }

  .details3 {
    margin-top: 7%;
  }
  
  #projectheading {
    margin-top: 14%;
    margin-left: 10%; 
    margin-bottom: 0%;
    color: #292929;
    font-size: ; 
  }
  
  .portfolioimg2 {
    display: inline;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    border-style: solid;
    border-width: 11px;
    border-color:  #ff2238;
    height: 263px;
    width: 630px;
  }
  
  #iconsocial6 {
    background-color: #292929;
    height: 145.2px;
    padding-top: 14.9%;
    padding-left: 0%;
    display: none;
  }

  #doubledown {
    padding-left: 16%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -84px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 169px;
    width: 307px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 307px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -3%;
  }

  .social {
    padding-top: 5%;
    padding-left: 6.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 270px;
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 15px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 410px) and (max-width: 415px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 89%;
    margin-left: 8%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 21%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #fullstack2 {
    margin-left: 7%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 36%;
    margin-top: 10%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 9.9%;
    padding-left: 0%;
    display: none;
    padding-right: 13%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 17%;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 404px;
  }

  #main {
    margin-left: 15%;
  }

  #doubledown {
    padding-left: 16%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -87px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 169px;
    width: 351px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 353px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -2%;
  }

  .social {
    padding-top: 5%;
    padding-left: 6.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 270px;
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 32px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 425px) and (max-width: 480px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 12%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 65%;
    margin-left: 18%;
  }

  .contactme {
    width: 170px;
    font-size: 23px;
    margin-left: 24%;
  }

  #portrow3 {
    margin-top: 50px;
  }

  #description3 {
    padding-top: 0%;
    height: auto;
    padding-bottom: 17%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 37%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 37%;
    margin-top: 10%;
  }

  #fullstack2 {
    margin-left: 9%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 11.9%;
    padding-left: 0%;
    display: none;
    padding-right: 14%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: 491px;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 411px;
  }

  #main {
    margin-left: 19%;
  }

  .details3 {
    margin-top: 7%;
  }
  
  #projectheading {
    margin-top: 14%;
    margin-left: 10%; 
    margin-bottom: 0%;
    color: #292929;
    font-size: ; 
  }
  
  .portfolioimg2 {
    display: inline;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 0%;
    border-style: solid;
    border-width: 11px;
    border-color:  #ff2238;
    height: 263px;
    width: 630px;
  }
  
  #iconsocial6 {
    background-color: #292929;
    height: 145.2px;
    padding-top: 13.9%;
    padding-left: 0%;
    display: none;
    padding-right: 10%;
  }

  #doubledown {
    padding-left: 22%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 8%;
  }
  
  .overlay {
    position: absolute;
    top: -87px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 171px;
    width: 352px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 353px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -1%;
  }

  .social {
    padding-top: 5%;
    padding-left: 6.5%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 270px;
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 32px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 33%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: 7%;
  }

  #welcome {
    font-size: 18px;
    margin-left: 6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: 7%;
  }

  #devstack {
    height: 400px;
  }  

  #description {
    height: 381px;
  }
}

@media (min-width: 481px) and (max-width: 766px) {
  #description4 {
    height: auto;
    padding-bottom: 15%;
  }

  .white2 {
    text-align: center;
    margin-right: 19%;
  }

  #contmargin {
    margin-bottom: 38px;
  }

  .red2 {
    font-size: 15px;
    width: 100%;
    margin-left: 23%;
  }

  .contactme {
    width: 254px;
    font-size: 26px;
    margin-left: 24%;
  }

  #portrow3 {
    margin-top: 57px;
  }

  .languages {
    margin-left: -52px;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 37%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 37%;
    margin-top: 10%;
  }

  #fullstack2 {
    margin-left: 23%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 11.9%;
    padding-left: 0%;
    display: none;
    padding-right: 14%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: 491px;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 443px;
    padding-top: 10%;
  }

  #main {
    margin-left: 26%;
  }

  #iconsocial6 {
    background-color: #292929;
    height: 247px;
    padding-top: 11.9%;
    padding-left: 0%;
    display: none;
    padding-right: 16%;
  }

  #projectheading {
    margin-top: 7%;
  }

  #doubledown {
    padding-left: 26%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 23%;
  }
  
  .overlay {
    position: absolute;
    top: -90px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 171px;
    width: 388px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 390px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: 7%;
  }

  .social {
    padding-top: 3%;
    padding-left: 4%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 270px;
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 132px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 37%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: -6%;
  }

  #welcome {
    font-size: 18px;
    margin-left: -6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  .glyphicon-tasks {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: -6%;
  }

  #devstack {
    height: 400px;
    padding-top: 10%;
  }  

  #description {
    height: 381px;
    padding-top: 8%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #description4 {
    height: auto;
    padding-bottom: 10%;
  }

  .white2 {
    margin-right: 16%;
    text-align: center;
  }

  .red2 {
    margin-left: 16%;
  }

  .contactme {
    margin-left: 25%;
  }

  #portrow3 {
    margin-top: 82px;
  }

  .languages {
    margin-left: -76px;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 10%;
  }

  #fullstack2 {
    margin-left: -10%;
  }

  #iconsocial2 {
    background-color: #fff;
    height: auto;
    padding-top: 11.9%;
    padding-left: 0%;
    display: none;
    padding-right: 14%;
    padding-bottom: 7%;
  }

  #description3 {
    padding-top: 0%;
    height: 491px;
  }

  .font {
    font-size: 18px;
    color: #121212;
    font-family: 'Inconsolata', serif;
    margin-left: 9%;
    text-align: left;
  }

  #devdev {
    height: 443px;
    padding-top: 10%;
  }

  #main {
    margin-left: 3%;
  }

  #projectheading {
    margin-top: 10%;
  }

  #iconsocial6 {
    background-color: #292929;
    height: 488px;
    padding-top: 8.9%;
    padding-left: 0%;
    display: none;
    padding-right: 14%;
  }

  #doubledown {
    padding-left: 26%;
  }

  #iconsocial {
    height: auto;
    padding-bottom: 7%;
    padding-top: 10.9%;
  }

  #description2 {
    height: auto;
  }

  .portfolio-row-row {
    height: 40px;
  }

  .inside {
    padding: 0px;
    margin-right: -29px;
    margin-left: 0px;
    padding-left: 23%;
  }
  
  .overlay {
    position: absolute;
    top: -90px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 171px;
    width: 388px;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
    border-style: solid;
    border-width: 6px;
    border-color: #121212;
  }
  
  .portfolioimg {
    display: inline;
    margin-right: 0px;
    border-right-style: solid;
    border-right-width: 30px;
    border-right-color: #fff;
    border-left-style: solid;
    border-left-width: 30px;
    border-left-color: #fff;
    height: 169px;
    width: 390px;
    margin-bottom: 6%;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: 9%;
  }

  .social {
    padding-top: 3%;
    padding-left: 4%;
  }

  #fullstack {
    background-color: #E6E6E6;
    color: #121212;
    border-color: #121212;
    border-style: solid;
    border-radius: 11px;
    border-width: 0px;
    font-size: 17px;
    height: 68px;
    width: 270px;
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
    margin-left: 149px;
    margin-right: 0px;
    box-shadow: 0 25px 17px 0 #888888;
  }

  .black {
    margin-left: 38%;
  }

  #div-sidebar {
    height: 29px;
  }

  #sidebar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    padding-bottom: 12%;
  }

  #profpic {
    margin-left: 37%;
    border-radius: 50%;
    height: 130px;
    width: 130px;
  }

  #backend {
    font-size: 17px;
  }

  #nevilleo {
    font-size: 18px;
    margin-left: -6%;
  }

  #welcome {
    font-size: 18px;
    margin-left: -6%;
  }

  .glyphicon-phone {
    margin-left: 41%;
  }

  .glyphicon-tasks {
    margin-left: 41%;
  }

  #i2 {
    font-size: 15px;
    margin-left: -6%;
  }

  #devstack {
    height: 400px;
    padding-top: 10%;
  }  

  #description {
    height: 381px;
    padding-top: 8%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #iconsocial2 {
    padding-left: 1%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 17%;
  }

  #python {
    border-radius: 50%;
    margin-left: 15%;
    margin-top: 17%;
  }

  #main {
    border-radius: 0px;
    color: #fff;
    background-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #ff2238;
    margin-bottom: 10px;
    width: 143px;
    font-size: 17px;
    display: none;
    margin-left: -39%;
  }

  #iconsocial6 {
    /* height: 1025px; */
    padding-left: 1%;
  }

  #projectheading {
    margin-top: 7%;
  }

  .portfolioimg2 {
    width: 568px;
  }

  /* #iconsocial {
    height: 100vh;
  } */

  /* #description2 {
    height: 1025px;
  } */

  .portfolioimg {
    height: 207px;
    width: 294px;
  }

  .overlay {
    width: 306px;
  }

  #fullstack {
    margin-left: -20px;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 0%;
    margin-left: -9%;
    width: 106%;
    margin-right: 0px;
  }

  #sidebar {
    height: 100vh;  
  }

  #description {
    height: 100vh;
  }

  #devstack {
    height: 100vh;
  }

  #devdev {
    height: 1366px;
  }

  #description3 {
    height: 1366px;  
  }
}

@media (min-width: 1200px) and (max-width: 1270px) {
}

@media (min-width: 1180px) and (max-width: 1339px) {
}

@media (min-width: 991px) and (max-width: 1340px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 838px) {
}

@media only screen and (min-width: 836px) {
}

@media only screen and (min-width: 1900px) {
  #iconsocial2 {
    padding-top: 16.9%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 10%;
  }

  #main {
    margin-left: 24%;
  }

  #devdev {
    padding-top: 16%;
    height: 100vh;
  }

  #iconsocial6 {
    background-color: #292929;
    /* height: 1219.2px; */
    padding-top: 15.9%;
    padding-left: 3%;
  }

  #iconsocial {
    background-color: #292929;
    /* height: 1219.2px; */
    padding-top: 15.9%;
    padding-left: 2%;
    display: none;
  }

  #sidebar {
    padding-top: 16%;
    height: 100vh;  
  }

  #description {
    padding-top: 16%;
    height: 100vh;
  }

  #devstack {
    padding-top: 13%;
    height: 100vh;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -8%;
  }

  .social {
    padding-top: 3%;
    padding-left: 4%;
  }

  #description3 {
    height: 100vh
  }
}

@media only screen and (min-width: 2560px) {
  #description3 {
    height: 100vh
  }

  #iconsocial2 {
    padding-top: 16.9%;
  }

  #javascript {
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 10%;
  }

  #python {
    border-radius: 50%;
    margin-left: 38%;
    margin-top: 10%;
  }

  #main {
    margin-left: 24%;
  }

  #devdev {
    padding-top: 16%;
    height: 100vh;
  }

  #iconsocial6 {
    background-color: #292929;
    /* height: 1500.2px; */
    padding-top: 15.9%;
    padding-left: 3%;
  }

  #sidebar {
    padding-top: 16%;
    height: 100vh;  
  }

  #description {
    padding-top: 16%;
    height: 100vh;
  }

  #devstack {
    padding-top: 13%;
    height: 100vh;
  }

  #socialheight {
    margin-top: 5%;
    padding-left: 18%;
    margin-left: -8%;
  }

  .social {
    padding-top: 3%;
    padding-left: 4%;
  }
}
